<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зависимостной парсинг</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .dependency-graph {
            position: relative;
            margin-top: 20px;
            font-size: 16px;
            line-height: 1.5;
        }
        .word {
            display: inline-block;
            position: relative;
            padding: 0 5px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Зависимостной парсинг</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Анализировать текст</button>
        </form>

        <div class="mt-5">
            <h2>Результаты SpaCy</h2>
            <div class="dependency-graph">
                {% for token in results.spacy %}
                <div class="word" id="word{{ forloop.counter }}">
                    {{ token.text }}
                    <div class="dep">{{ token.dep }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            {% for token in results.spacy %}
            var word{{ forloop.counter }} = Raphael("word{{ forloop.counter }}", 100, 100);
            word{{ forloop.counter }}.path("M 50 0 L 50 50").attr({stroke: "black"});
            {% endfor %}
        });
    </script>
</body>
</html>
