<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Определение именованных сущностей</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Определение именованных сущностей</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        {% if results %}
            <h2 class="mt-5">Результаты:</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3>SpaCy</h3>
                    <ul>
                        {% for entity in results.spacy %}
                            <li>{{ entity.0 }} - {{ entity.1 }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Natasha</h3>
                    <ul>
                        {% for entity in results.natasha %}
                            <li>{{ entity.0 }} - {{ entity.1 }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>
