<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сравнение библиотек NLP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Сравнение библиотек NLP: SpaCy и Natasha</h1>
        <div class="mt-5">
            <form method="post" action="{% url 'split_sentences' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-lg mx-2">Этап 1: Разделение текста на предложения</button>
            </form>
            <form method="post" action="{% url 'pos_coloring' %}" class="mt-3">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary btn-lg mx-2">Этап 2: Визуализация частей речи</button>
            </form>
            <form method="post" action="{% url 'extract_entities' %}" class="mt-3">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success btn-lg mx-2">Этап 3: Определение именованных сущностей</button>
            </form>
        </div>
        <div class="right-aligned-text">by Мамасолиев Давронбек</div>
    </div>
</body>
</html>
