<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Визуализация частей речи</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <style>
        .NOUN { border: 2px solid blue; }
        .VERB { border: 2px solid green; }
        .ADJ { border: 2px solid orange; }
        .ADV { border: 2px solid purple; }
        .PRON { border: 2px solid red; }
        .DET { border: 2px solid brown; }
        .ADP { border: 2px solid pink; }
        .CCONJ { border: 2px solid teal; }
        .PART { border: 2px solid gray; }
        .PUNCT { border: 2px solid black; }
        .color-box {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            margin-bottom: 5px;
            border: 1px solid #ddd;
            vertical-align: middle;
        }
        .color-box:hover {
            transform: scale(1.1);
            transition: transform 0.2s;
            cursor: pointer;
        }
        .color-box:active {
            transform: scale(0.9);
            transition: transform 0.2s;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <a href="/" class="btn btn-secondary mb-3">Назад на главную страницу</a>
        <h1 class="text-center">Визуализация частей речи</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Анализировать текст</button>
        </form>

        <div class="row mt-5">
            <div class="col-3">
                <h2>Цветовая схема</h2>
                <div class="color-box" style="background-color: blue;"></div> Существительные<br>
                <div class="color-box" style="background-color: green;"></div> Глаголы<br>
                <div class="color-box" style="background-color: orange;"></div> Прилагательные<br>
                <div class="color-box" style="background-color: purple;"></div> Наречия<br>
                <div class="color-box" style="background-color: red;"></div> Местоимения<br>
                <div class="color-box" style="background-color: brown;"></div> Артикли<br>
                <div class="color-box" style="background-color: pink;"></div> Предлоги<br>
                <div class="color-box" style="background-color: teal;"></div> Союзы<br>
                <div class="color-box" style="background-color: gray;"></div> Частицы<br>
                <div class="color-box" style="background-color: black;"></div> Знаки препинания
            </div>
            <div class="col-9">
                <div class="mt-5">
                    <h2>Результаты SpaCy</h2>
                    <div class="spacy">
                        <p>{{ results.spacy|safe }}</p>
                    </div>
                </div>

                <div class="mt-5">
                    <h2>Результаты Natasha</h2>
                    <div class="natasha">
                        <p>{{ results.natasha|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
