<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Разделение на предложения</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <a href="/" class="btn btn-secondary mb-3">Назад на главную страницу</a>
        <h1 class="text-center">Разделение текста на предложения</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Анализировать текст</button>
        </form>

        <h2 class="mt-5">Сравнение времени обработки</h2>
        <canvas id="timeChart" width="400" height="200"></canvas>

        <h2 class="mt-5">Результаты SpaCy</h2>
        <p>Время обработки: {{ results.spacy.time }} секунд</p>
        <ul>
            {% for sentence in results.spacy.sentences %}
                <li>{{ sentence }}</li>
            {% endfor %}
        </ul>

        <h2 class="mt-5">Результаты Natasha</h2>
        <p>Время обработки: {{ results.natasha.time }} секунд</p>
        <ul>
            {% for sentence in results.natasha.sentences %}
                <li>{{ sentence }}</li>
            {% endfor %}
        </ul>
    </div>
    <script>
        const ctx = document.getElementById('timeChart').getContext('2d');
        const timeChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['SpaCy', 'Natasha'],
                datasets: [{
                    label: 'Время обработки (секунды)',
                    data: [{{ results.spacy.time }}, {{ results.natasha.time }}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>
