<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syntax Comparison</title>
    <style>
        .subject { border-bottom: 1px solid; }
        .predicate { border-bottom: 1px double; }
        .definition { border-bottom: 1px dotted; }
        .complement {
         text-decoration: underline;
         text-decoration-style: wavy;
         text-decoration-color: red;
         }
        .circumstance { border-bottom: 1px solid; }
        .circumstance::after { content: '.'; display: inline-block; width: 1em; text-align: center; }
    </style>
</head>
<body>
    <h1>Syntax Comparison</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% if spacy_results %}
    <h2>spaCy Results</h2>
    <ul>
        {% for result in spacy_results %}
            {% if result.pos == 'NOUN' %}
                <span class="subject">{{ result.text }}</span>
            {% elif result.pos == 'VERB' %}
                <span class="predicate">{{ result.text }}</span>
            {% elif result.pos == 'ADJ' %}
                <span class="definition">{{ result.text }}</span>
            {% elif result.pos == 'ADV' %}
                <span class="circumstance">{{ result.text }}</span>
            {% elif result.pos == 'PRON' %}
                <span class="complement">{{ result.text }}</span>
            {% else %}
                {{ result.text }}
            {% endif %}
            {% if not forloop.last %} {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    {% if natasha_results %}
    <h2>Natasha Results</h2>
    <ul>
        {% for result in natasha_results %}
        <li>{{ result.text }} - {{ result.lemma }} - {{ result.pos }} - {{ result.dep }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
